.all-offers {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.all-offers h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.filter {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.offer-container {
  margin-bottom: 1.5rem;
}

.offer-link {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.offer-link h3 {
  margin: 0;
}

.offer-link:hover {
  color: pink;
}

.request-button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.request-button:hover {
  background-color: #0056b3;
}
