.create-offer-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.create-offer-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.create-offer-form form {
  display: flex;
  flex-direction: column;
}

.create-offer-form form input,
.create-offer-form form textarea {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.create-offer-form .schedule {
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.create-offer-form form button {
  padding: 0.5rem;
  border: none;
  background-color: #00bfa6;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.create-offer-form form button[type="button"] {
  background-color: #007bff;
}

.create-offer-form .dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}
