.page-container {
  padding-top: 60px;
}

.my-actions {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  padding-top: 400px;
  margin-top: 200px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wow1 {
  padding-top: 0px;
  margin-top: 0px;
}

.my-actions h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.my-actions ul {
  list-style-type: none;
  padding: 0;
}

.my-actions ul li {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.my-actions ul li:hover {
  background-color: #f1f1f1;
}

.offer-container {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.approve-button,
.deny-button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.approve-button {
  background-color: #28a745;
}

.deny-button {
  background-color: #dc3545;
}

.approve-button:hover {
  background-color: #218838;
}

.deny-button:hover {
  background-color: #c82333;
}

.make-payment-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.make-payment-button:hover {
  background-color: #0056b3;
}
