.my-offers {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.my-offers h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.offer-container {
  margin-bottom: 1.5rem;
}

.offer-link {
  text-decoration: none;
  color: inherit;
}

.offer-link h3 {
  margin: 0;
}

.offer-link:hover {
  color: pink;
}
