.page-container {
  padding-top: 60px; /* Adjust this value based on your navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.to-do-list {
  max-width: 1200px;
  width: 100%;
  margin: 2rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.to-do-list .card-title {
  font-size: 1.8rem;
}

.to-do-list .list-group-item {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.to-do-list .list-group-item:hover {
  background-color: #e9e9e9;
}

.to-do-list .form-check-input {
  margin-right: 1rem;
  accent-color: #007bff;
  width: 20px;
  height: 20px;
}

.to-do-list label span {
  font-size: 1.2rem;
  color: #555;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
